################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MegaDesk_RazorPages_TeamAngeles/.vs/MegaDesk_RazorPages_TeamAngeles/FileContentIndex/4f102210-e844-4a29-8f2b-8b7676528a08.vsidx
