@page
@model MegaDesk_RazorPages_TeamAngeles.Pages.Desks.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Desk</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="quoteDesk.CustomerName" class="control-label"></label>
                <input asp-for="quoteDesk.CustomerName" class="form-control" />
                <span asp-validation-for="quoteDesk.CustomerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="quoteDesk.DeskWidth" class="control-label"></label>
                <input asp-for="quoteDesk.DeskWidth" class="form-control" />
                <span asp-validation-for="quoteDesk.DeskWidth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="quoteDesk.DeskDepth" class="control-label"></label>
                <input asp-for="quoteDesk.DeskDepth" class="form-control" />
                <span asp-validation-for="quoteDesk.DeskDepth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="quoteDesk.NumDrawers" class="control-label"></label>
                <select asp-for="quoteDesk.NumDrawers" class="form-control">
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                </select>
                <span asp-validation-for="quoteDesk.NumDrawers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="quoteDesk.DeskMaterial" class="control-label"></label>
                <select asp-for="quoteDesk.DeskMaterial" class="form-control" id="material_input" onchange="preview()">
                    <option value="Oak">Oak</option>
                    <option value="Laminate">Laminate</option>
                    <option value="Pine">Pine</option>
                    <option value="Rosewood">Rosewood</option>
                    <option value="Veneer">Veneer</option>
                </select>
                <span asp-validation-for="quoteDesk.DeskMaterial" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="quoteDesk.RushDays" class="control-label"></label>
                <select asp-for="quoteDesk.RushDays" class="form-control">
                    <option value="3">3</option>
                    <option value="5">5</option>
                    <option value="7">7</option>
                    <option value="14">Standard</option>
                </select>
                <span asp-validation-for="quoteDesk.RushDays" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
